* {
    margin: 0;
    padding: 0;
}

.flex-topnav {
    margin-top: 56px;

    display: flex;
    justify-content: space-between;
}

.flex-topnav > .custom-text {
    color: #ffffff;

    writing-mode: vertical-rl;
    text-orientation: mixed;

    margin-right: 16px;
}

.flex-topnav > .custom-text > .orange {
    color: rgba(242, 101, 34, 1);
}

.topnav {
    display: flex;
    margin-left: 16px;
    height: 100%;
}

.topnav > a {
    margin-left: 16px;
    text-decoration: none;

    font-size: 13px;
    color: #ffffff;
}

.topnav > a.active {
    text-decoration: underline;
    text-decoration-color: rgba(242, 101, 34, 1);
    text-decoration-thickness: 3px;
    text-underline-offset: 13px;
}

body {
    background-image: url("./assets/header_pic.png");
    background-repeat: no-repeat;
}

.navigate-box {
    margin-top: 56px;
    margin-left: 16px;
}

.navigate-box > .big-text {
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
}

.navigate-box > .detail-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 350px;

    color: #ffffff;
}

.navigate-box > .item-box {
    margin-top: 24px;

    display: flex;
    align-items: center;
}

.navigate-box > .item-box > .line-box {
    display: flex;
    flex-direction: column;
    max-width: 25px;
}

.navigate-box > .item-box > .line-box > .line-light-white {
    margin-top: 8px;
}

.navigate-box > .item-box > .arrow {
    max-width: 37px;
    margin-left: 24px;
}

.navigate-box > .arrow-box {
    margin-top: 64px;
}

.orange-box {
    background-color: rgba(242, 101, 34, 1);
    margin-top: 56px;
}

body {
    position: relative;
}

@media screen and (min-width: 1024px) {
    .flex-topnav > .topnav {
        margin-left: 64px;
    }

    .flex-topnav > .topnav > a {
        margin-left: 64px;
    }

    .navigate-box {
        margin-left: 128px;
    }

    .orange-box {
        position: absolute;
        right: 0;

        width: calc(100% - 300px);

        display: flex;
        justify-content: space-between;
    }

    .orange-box > .orange-box-element {
        padding-left: 32px;
        padding-right: 32px;
        flex: 1;
    }

    .orange-box > .orange-box-element-2 {
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .orange-box > .orange-box-element-2 > .inner-image {
        width: 300px;
        height: 250px;

        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        width: 100% !important;
    }
}

.orange-box > .orange-box-element > .title {
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;

    margin-left: 16px;
    padding-top: 24px;
}

.orange-box > .orange-box-element > .content-box {
    padding-left: 16px;
    padding-bottom: 54px;

    color: #ffffff;
}

.orange-box > .orange-box-element > .content-box > .first-element {
    margin-top: 16px;
}

.orange-box > .orange-box-element > .content-box > .second-element {
    margin-top: 32px;
}

.orange-box > .orange-box-element-2 > .inner-image {
    width: calc(100% - 16px - 16px);

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.orange-box > .orange-box-element-2 > .paper-box {
    background-color: #ffffff;

    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
}

.orange-box > .orange-box-element-2 > .paper-box > .title {
    font-size: 32px;
    text-transform: uppercase;
    color: #3a4d69;
}

.orange-box > .orange-box-element-2 > .paper-box > .text {
    color: #83969f;

    margin-top: 32px;
}

.orange-box > .orange-box-element-2 > .paper-box > .flex-icon-text {
    display: flex;
    align-items: center;

    margin-top: 54px;
}

.orange-box > .orange-box-element-2 > .paper-box > .flex-icon-text > .text {
    font-size: 13px;
    color: #cfcfcf;

    margin-left: 8px;
}

.content-paragraph-box {
    background-color: #ffffff;
}

.content-paragraph-box > .title {
    font-size: 24px;
    text-transform: uppercase;
    color: #3a4d69;

    margin-left: 16px;
    padding-top: 24px;
}

.content-paragraph-box > .paragraphs-box {
    margin-top: 16px;

    padding-left: 16px;
    padding-right: 16px;
}

.content-paragraph-box > .paragraphs-box > .col-1 > p {
    color: #83969f;

    margin-top: 32px;
}

.content-paragraph-box > .paragraphs-box > .col-2 > p {
    color: #83969f;

    margin-top: 32px;
}

@media screen and (min-width: 1024px) {
    .content-paragraph-box {
        padding-left: 128px;
        padding-right: 128px;
        padding-bottom: 64px;

        position: absolute;
        top: 695px;

        z-index: -10;
    }

    .content-paragraph-box > .paragraphs-box {
        display: flex;
    }

    .content-paragraph-box > .title {
        padding-top: calc(306px + 24px);
    }

    .content-paragraph-box > .paragraphs-box > .col-1 {
        padding-right: 16px;
    }

    .content-paragraph-box > .paragraphs-box > .col-2 {
        padding-left: 32px;
    }
}

.image-element {
    width: 100%;
    margin-top: 32px;
}

@media screen and (min-width: 1024px) {
    .responsive-box {
        position: absolute;
        top: calc(306px + 24px + 1000px + 24px);
    }
}

.image-box {
    display: flex;
}

.image-box > .square {
    position: relative;
    width: 50%;
    background-color: rgba(242, 101, 34, 1);
}

.image-box > .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-box > .square > .content {
    position: absolute;
    width: 100%;
    height: 100%;

    padding-top: 36px;
    padding-left: 24px;

    text-transform: uppercase;
    color: #ffffff;
    font-size: 32px;
}

.image-box > .women-image {
    width: 50%;
}

@media screen and (min-width: 1024px) {
    .responsive-box {
        position: relative;
    }

    .responsive-box > .image-box {
        max-width: 460px;

        position: absolute;
        bottom: 0;
        left: 128px;
    }

    .responsive-box > .paragraphs-box {
        position: absolute;
        left: 128px;
    }
}

.responsive-box > .paragraphs-box {
    background-color: rgba(242, 101, 34, 1);
}

.responsive-box > .paragraphs-box > .col-1 > p {
    color: #ffffff;

    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.responsive-box > .paragraphs-box > .col-2 > p {
    color: #ffffff;

    margin-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.responsive-box > .paragraphs-box > .take-action-box {
    background-color: rgba(50, 51, 57, 1);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 16px;
    padding-bottom: 64px;

    margin-top: 32px;
}

.responsive-box > .paragraphs-box > .take-action-box > .title {
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
}

.responsive-box > .paragraphs-box > .take-action-box > .input-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}

.responsive-box > .paragraphs-box > .take-action-box > .input-box > input {
    margin-bottom: 16px;
    height: 40px;
}

.responsive-box > .paragraphs-box > .take-action-box > .input-box > .input {
    padding-left: 8px;
}

.responsive-box > .paragraphs-box > .take-action-box > .input-box > .button {
    padding-left: 8px;
    padding-right: 8px;

    background-color: rgba(50, 51, 57, 1);
    color: #ffffff;

    border: 1px solid #ffffff;
}

@media screen and (min-width: 1024px) {
    .responsive-box > .paragraphs-box > .take-action-box > .input-box {
        flex-direction: row;
    }

    .responsive-box > .paragraphs-box > .take-action-box > .input-box > .input {
        margin-right: 16px;
    }
}

.responsive-box > .paragraphs-box > .inner-content-box > .body-image {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .responsive-box > .paragraphs-box > .inner-content-box > .orange-box {
        margin-top: 0;
        position: absolute;
        right: auto;
        top: 1000px;
        width: calc(100% - 128px);
    }
}

.footer {
    position: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(50, 51, 57, 1);
    color: white;
    text-align: center;

    margin-top: 32px;

    padding-bottom: 128px;
}

.footer > .footer-navigate-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer > .footer-navigate-box > .footer-element {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.footer > .footer-navigate-box > .footer-element > .title {
    color: #f26522;
    margin-bottom: 16px;
}

.footer > .footer-navigate-box > .extend-info {
    color: #83969f;
    width: calc(100% -32px - 32px);
    margin-left: 32px;
    margin-right: 32px;
}

@media screen and (min-width: 1024px) {
    .footer > .footer-navigate-box {
        display: flex;

        margin-left: 64px;
    }

    .footer {
        margin-top: 2834px;
    }
}

/* CSS Advanced */

.btn {
    border: none;
    font-family: "Lato";
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Icon separator */
.btn-sep {
    /* padding: 25px 60px 25px 120px; */
}

.btn-sep:before {
    background: rgba(0, 0, 0, 0.15);
}

/* Button 1 */
.btn-1 {
    /* background: #3498db; */
    color: #fff;
}

.btn-1:hover {
    /* background: #2980b9; */
}

.btn-1:active {
    /* background: #2980b9; */
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}
